<!DOCTYPE html>
<html>
<head>
  <title>HYPERION</title>
  <%= javascript_include_tag 'nprogress-xhr' %>
  <%= stylesheet_link_tag 'application' %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="content"></div>

  <%= javascript_include_tag FRONTEND %>
</body>
</html>
